.home__hero {
  display: flex;
  margin-bottom: 60px;
  height: 600px;
  align-items: center;
  background: linear-gradient(#FFCBA0, #DD5789, #9B5BE6);
  padding-left: 10%;
  padding-right: 10%;
}

.home__first-value {
  width: 60%;
  margin: 0 auto;
  margin-bottom: 60px;
}

.home__second-value {
  width: 90%;
  margin: 0 auto;
  margin-bottom: 40px;
}

.home__third-value {
  width: 90%;
  margin: 0 auto;
  margin-bottom: 40px;
}

.home__more-videos {
  text-align: center;
  margin-bottom: 60px;
}

.home__more-pdf {
  text-align: center;
  margin-bottom: 60px;
}

.home__learnAbout {
  width: 90%;
  margin: 0 auto;
  display: flex;
  gap: 5%
}