.home__hero {
  margin-bottom: 60px;
}

.home__first-value {
  width: 90%;
  margin: 0 auto;
  margin-bottom: 60px;
}

.home__second-value {
  width: 90%;
  margin: 0 auto;
  margin-bottom: 40px;
}

.home__third-value {
  width: 90%;
  margin: 0 auto;
  margin-bottom: 40px;
}

.home__more-videos {
  text-align: center;
  margin-bottom: 60px;
}

.home__more-pdf {
  text-align: center;
  margin-bottom: 60px;
}