.slider {
  border-radius: 1.4%;
  background-color: #06263a;
  display: flex;
  gap: 20px;
  width: 100%;
  height: 450px;
  align-items: center;
}

.slider__title {
  align-self: center;
  color: aqua;
}

.slider__subtitle {
  color: white;
}

.slider__left-previous-button {
  align-self: center;
}

.slider__left-previous-button {
  flex: 1 1 10%;
}
.slider__left {
  flex: 1 1 40%;
}
.slider__right {
  flex: 1 1 40%;
}
.slider__right-previous-button {
  flex: 1 1 10%;
}

.slider__left button {
  margin-top: 20px;
  padding: 10px;
}